.container-fluid {
  background-image: "https://www.google.com/search?q=black+background+images&rlz=1C5CHFA_enUS725US725&sxsrf=ALeKk02sdAV9MRlnf4zU9sKXyr9CmLx1Xw:1611874060835&tbm=isch&source=iu&ictx=1&fir=O51yJUdS3GbTjM%252C_K6Otu26RQLboM%252C_&vet=1&usg=AI4_-kR2TyeE6fajTBQfBWSN5t-5pNGwuA&sa=X&ved=2ahUKEwiK_cXm2r_uAhUOna0KHa_MAuUQ9QF6BAgLEAE#imgrc=O51yJUdS3GbTjM";
}

h1 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  padding: 20px;
  color: slategrey;
  font-size: px;
}

body {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 20px;
}

.container {
  border-radius: 15px;
  margin: 20px;
  width: 95%;
  font-family: "Cormorant", serif;
}

h3 {
  font-family: "Cormorant", serif;
  text-align: center;
}

#biopic {
  height: 100%;
  width: 150%;
  border-radius: 20px;
  float: left;
}
