h1 {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  padding: 20px;
  color: slategrey;
  font-size: px;
}

body {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 20px;
}

#about {
  border-radius: 15px;
  margin: 20px;
  width: 95%;
}

h3,
p,
ul {
  font-family: "Cormorant", serif;
  text-align: center;
}

#biopic {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  margin: 20px;
}

#bio {
  margin: 20px;
}
