footer {
  text-align: center;
  background-color: #cbe8fe;
  border-radius: 8px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-family: "Kaushan Script", cursive;
}

i {
  padding: 5px;
  margin: 5px;
}
