footer {
  text-align: center;
  background-color: #bafab5;
  position: sticky;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center !important;
  margin: 0;
}

ul {
  font-size: 20px;
}
i {
  padding: 10px;
  margin: 10px;
}
