footer {
  text-align: center;
  background-color: #bafab5;
  position: sticky;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center !important;
  margin: 0;
  height: 27%;
}

ul,
.footer-nav {
  font-size: 25px;
  margin: 5px;
}

i {
  margin: 10px;
}
